name: "airbrush"

services:
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - airbrush-mongo-data:/data/db

  server:
    build: .
    restart: always
    ports:
      - "25565:25565"
    depends_on:
      - mongo
    volumes:
      - ./plugins:/app/plugins
      - ./airbrush.jar:/app/airbrush.jar
      - ./canvases:/app/canvases

volumes:
  airbrush-mongo-data:
